body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #003366; /* Navy/Dark Blue color */
}

.navbar {
    padding: 0.5rem 1rem;
}

.nav-link {
    color: #ffffff !important;
}

.carousel-inner img {
    max-height: 300px;
    width: auto;
    margin: auto;
}

.carousel-custom {
    position: relative;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    opacity: 0.7;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-item.active {
    transform: scale(1);
    opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(1);
}

footer {
    background-color: #003366;
}
