body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
}

.navbar {
    padding: 0.5rem 1rem;
}

.nav-link {
    color: #ffffff;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
}

.slideshow-container img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.mySlides {
    display: none;
}

footer {
    background-color: #003366;
    color: white;
    padding: 1rem 0;
}
